nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
  font-size: 1.5rem;
  margin-left: 70px;
  margin-right: 90px;
}

.menu-toggle {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 4rem;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #333;
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
  }

  .menu a {
    display: block;
  }
}

